/* src/app/globals.css */

/* Import Tailwind CSS directives if you're using Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styling */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

head {
  font-family: 'Inter', sans-serif;
  background-color: #86a96f;
  color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.bg-cream {
  background-color: #FCF8D1;
}

.bg-matcha {
  background-color: #124909;
}

.bg-sage {
  background-color: #9caf88;
}

.bg-ivory {
  background-color: #fffff0;
}

.bg-olive {
  background-color: #272c22;
}
